<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href="/stylesheets/style.css" />
    </head>
    <body>
        <h1><%= title %></h1>
        <table>
                <ul>
                    <% console.log("") %>
                    <tr>
                        <td>Einwohnerzahl:</td>
                        
                        <td><%= land.Einwohnerzahl %></td>
                        
                    </tr>
                    <tr>
                        <td>Landessprache:</td>
                        
                        <td><%= land.Landessprache %></td>
                        
                    </tr>
                    <tr>
                        <td>Kontinent:</td>
                        
                        <td><%= land.Kontinent %></td>
                       
                    </tr>
                    <tr>
                        <td>Landesfl채che:</td>
                        
                        <td><%= land.Landesfl채che %></td>
                        
                    </tr>
                    <tr>
                        <td>Hauptstadt:</td>
                        
                        <td><%= land.Hauptstadt %></td>
                        
                    </tr>
                    <tr>
                        <td>W채hrung:</td>
                        
                        <td><%= land.W채hrung %></td>
                        
                    </tr>
                    
                        

                </ul>
    
        </table>
    </body>
</html>

